{# loans/templates/loans/utk_search.html #}

{% extends 'loans/base.html' %}
{% load staticfiles %}

{% block title %}UTK Search | {{ block.super }}{% endblock title %}

{% block content %}
<html>
<body>
  <p>可查詢SFIS UTK,MODD訊息, 等候時間約1~30s, 推薦使用Chrome瀏覽器</p>
  <p>ISN: <input type="text" name="nickname" /></p>
  <input class="name_submit" type="submit" value="Submit" />
  <div class="name_value"></div>
</body>

<script src="{% static 'base/js/jquery-2.2.1.min.js' %}"></script>
<script type="text/javascript">
$(".name_submit").click(function(){ 
    var nickname = $("input[name='nickname']").val();
    console.log(nickname)
    $(".name_value").text("");
    $(".name_value").append("<br>搜尋中...約30秒內 ");
    $.ajax({
      url:"/utkvalue",
      type:"post",
      data:{"nickname":nickname},
      dataType:"json",
      success:function(data){
        $(".name_value").text("");
        $(".name_value").append("<hr></hr>UTK: "+data+"<br>");
        for (var i in data) {
        // i 為 key，把 data 的每一項顯示在網頁上
        $('.name_value').append("<br>" + i + " : " + data[i] + "<br>");
    	}
      }
    }); // Ajax End
  });
</script>
</html>

{% endblock content %}

<!-- 加上這個 block -->
{% block js %}
{{ block.super }}

{% endblock js %}
